<div class="comment_content">
<% if comment.approved == ["approved"] %>
<hr class="devidepost">
  <div class="postboy" style="font-size:15px; margin-bottom:15px;">
    <%= comment.body %>
  </div>
  <% comment.pictures.each do |comment_pic| %>
    <%= link_to(image_tag(comment_pic.image.url(:medium)), comment_pic, class: "img-responsive") if comment_pic.image? %>
  <% end %>

  <% if current_user && user_signed_in? %>
    <% if [comment.liker_id].any? { |l| l&.include?(current_user.id)} %>
      <br>
      <%= link_to "Unlike", unlike_comment_path(comment, like: true), remote: true, method: 'delete', class:"unlikecomment", style:"color:blue; margin-right:20px; font-weight:bold" %>
    <% else %>
      <%= link_to "Like", like_comment_path(comment, like: true, remote: true), remote: true, method: 'post', class:"likecomment", style:"color:blue;  font-weight:bold" %>
    <% end %>
  <% end %>
  <% if comment.liker_id.size > 0 %>
    <%= pluralize( comment.liker_id&.count, "like")  %>
    <div class="fa fa-thumbs-o-up" style="font-size:20px; color:blue"  aria-hidden="true"></div>
  <% end %>

  <% if current_user && user_signed_in? && comment.user_id == current_user.id || current_user && current_user.admin? %>
    <%= link_to "Delete", comment_path(comment), data: {confirm: 'Are you sure?'},  method: :delete, remote: true,  class:"deletecomment", style:"margin-left:30px;" %>
  <% end %>
  <%= link_to  pluralize(comment.replies.count, "reply"), comment_replies_path(comment.id, @reply ), class:"viewreply", style:"margin-left:30px;" %>
  </br>

  <% if current_user && user_signed_in? %>
    <%= simple_form_for ([comment, comment.replies.new]), html: {id: "replycomment" }  do |f| %>
      <%= f.input :reply_body, as: :text, input_html: { ROWS: "3", WRAP:"HARD"}, placeholder: "Reply to this comment" %>
      <%= comment.user.first_name %>
      <%= time_ago_in_words((comment.created_at)) %>ago
    <% end %>
  <% end %>
<% end %>
</div
