<div class="block">
  <img src="images/prayer.jpg" alt="">
  <h1 style="text-align:center">Current Sermons</h1>
    <div class="row" >
      <div class="clear" ></div><% @sermons.each do |sermon| %>
      <div class="col-md-6" style="color:blue"><%= sermon.title%></div>
        <% sermon.pictures.each do |pic, remov| %>
          <div class="col-md-6" ><span class="pull-left" style="padding-right:40px; margin-left:50px;"> <%= image_tag(pic.image.url(:thumb)) if pic.image? %></span></div>
        <% end %>
        <div class="extra_wrapper">
          <p class="style1" style="color:black;  padding-left:15px;padding-right:15px;text-align: justify; padding-top:15px;">
            <%= truncate(sermon.body, length: 150) %>
            <%= link_to '...Read more', sermon_path(sermon), class:"btn btn-success", style:"color:white" %>
            <div class="sermonpreacher" style="color:blue">by <%= sermon.preacher %></div>
          </p>
        </div>
      <% end %>
      <div>
    </div>
  </p>
</div>
