<div class="container container-table post_show">
  <div class="content">
    <h2><%= @post.title %></h2>
    <div class="post-show-body">
      <%= @post.post_body %>
    </div>
    <% @post.pictures.each do |pic, remov| %>
      <div><%= image_tag(pic.image.url(:medium), class:"img-responsive post-show") if pic.image? %>
    </div>
    <div>posted <%= time_ago_in_words(@post.created_at) %> ago</div>
    </br>
    <% end %>
    
    </br>
    </br>
      <div class="resetcomments">
        <%= ActionController::Base.helpers.pluralize(approved_comments.size, "Comment")%>
        <div id="newcomment" >
          <%= render @post.comments %>
        </div>
      <div class="make-a-comment">Make your Comments: </div>
        <%= render "comments/form" %>
    </div>
  </div>
</div>
