<% upcomings.in_groups_of(4, false).each do |up_coming| %>
  <div class='row'>
    <% up_coming.each do |upc| %>
      <div class='col-md-3'>
        <div class="upcomingtitle" style="font-weight:bold;font-size:17px; color:black; text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4); background-color:#E5E7E9  "><%= upc.title %></div>
        <div class='textControl'><%= upc.body %></div>

        <% upc.pictures.each do |pic, remov| %>
          <div><%= image_tag(pic.image.url(:square), class:"img-responsive future") if pic.image? %></div>
        <% end %>
        <div class="starting_date_class"><%= upc.starting_date.strftime("Starting At:  %Y-%m-%d %H:%M:%S") %></div>
        <br>
        <div class="end_date_class"><%= upc.end_date.strftime("Ends At:  %Y-%m-%d %H:%M:%S") %></div>
        <div class="" style="color:white; font-size:18px; font-weight:bold">are you coming?</div>
          <div class="btn btn-primary btn-sm"><%= link_to 'Yes',  goingpeople_upcoming_event_path(upc), method: :put, remote: true,
            class:'specific_service', data: {id: upc.id} %>
          </div>

        <div class="cd-popup" role="alert">
        	<div class="cd-popup-container">
        		<p>Do you want to come with a friend?</p>
        		<ul class="cd-buttons">
              <li><%= link_to "Yes", coming_with_person_upcoming_event_path(upc), :method=> :put %></li>
        			<li><a href="#0">No</a></li>
        		</ul>
        	</div> <!-- cd-popup-container -->
        </div>

        </br>
        <div  id="questionclass">Click the button below to indicate that you are coming with somone</div>
          <div class="btn btn-primary btn-sm" id="hiderthisclass" style="display:none"><%= link_to "I am coming with someone",  coming_with_person_upcoming_event_path(upc), :method=> :put, style:"font-weight:bold; color:white; font-size:20px; text-decoration:none" %></div>
        </br>
        <% he = (upc.going + upc.coming_with).count %>
          <div class="countperson" style="background:white; font-size:18px; font-weight:bold;margin-bottom:40px;"><%= pluralize(he, "Person")%> going</div>
      </div>
    <% end %>
      <%= will_paginate @ue %>
  </div>

<% end %>
