<!DOCTYPE html>
<html>
<head>
  <title>ChurchApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <%= csrf_meta_tags %>
</head>
<%= render  "shared/header" %>


<body>
  <main>
  <div class="pulser"></div>
  <div class="pulser"></div>
  <div class="pulser"></div>
  <div class="pulser"></div>
  <div class="pulser"></div>
  <div class="pulser"></div>
  <div class="pulser"></div>
</main>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <% if current_page?(root_path) %>
    <%= render "shared/headertwo" %>
  <% end %>

  <%= yield %>

</body>
</html>
